<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CT-Park</title>
    <link rel="icon" href="{{url_for('static', filename = 'favicon.ico')}}">

    <!-- Bootstrap core CSS -->
    <link href= "{{url_for('static', filename = 'css/bootstrap.min.css' ) }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/cover.css' ) }}">

  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="masthead-brand">CT-Park</h1>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/cadastro">Cadastrar-se</a>
            <a class="nav-link" href="/login">Fazer Login</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <img src="{{url_for('static', filename='car.png')}}">
        <p class="lead">Bem vindo ao CT-Park, a aplicação web para o estacionamento do CT.</p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Aplicação feita por: <a href="https://github.com/pedrohfteles">@Pedro</a>, <a href= "https://github.com/yrs03">@Yuri</a> e <a href="https://github.com/PavaniVitor">@Vitor</a></p>
        </div>
      </footer>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-LingProg</p>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>