<!doctype html>

<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CT-Park</title>
    <link rel="icon" href="{{url_for('static', filename = 'favicon.ico')}}">
    <!-- Bootstrap core CSS -->
    <link href= "{{url_for('static', filename = 'css/bootstrap.min.css' ) }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/cover.css' ) }}">

  </head>
  <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <h1 class="masthead-brand">CT-Park</h1>
              <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link active" href="/home">Home</a>
                  <a class="nav-link" href="/notification">Notificações</a>
                  <a class="nav-link" href="/logout">Sair</a>

                </nav>
            </div>
          </header>
 <main role="main" class="inner cover">
        <h1>Editar Perfil</h1>
        </main>
        {% block content %}
        <form action="/preferences" method= "POST">
            {{ form.hidden_tag() }}
                <p>Usuário: {{user.username}}</p>
                <p>Preencha sua senha e os campos que deseja alterar!</p>

                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
                <br></br>
                {{ form.new_password.label }}<br>
                {{ form.new_password(size=32) }}<br>
                {% for error in form.new_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                
                {%if user.car_plate is not none%}
                </p>Placa do Primeiro Veiculo:{{user.car_plate}}</p>
                {%endif%}
                
                {{form.car_plate.label}}<br>
                {{form.car_plate(size = 32)}}<br>
                
                {%if user.car_plate2 is not none%}                
                <p>Placa do Segundo Veiculo:{{user.car_plate2}}</p>
                {%else%}
                <br></br>
                {%endif%}
            
                {{form.car_plate2.label}}<br>
                {{form.car_plate2(size = 32)}}<br><br>

                <button type="submit" class="btn btn-outline-secondary">Alterar</button>
            </form>
            {% endblock %}
            <br><br>
<p class="mt-5 mb-3 text-muted">&copy; 2018-LingProg</p>
 <footer class="mastfoot mt-auto">
        <div class="inner">
          <p></p>
        </div>
      </footer>
    </div>

</body>
</html>